<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-compatible" content=""IE=edge">
        <meta name="viewpoint content="width=device-width,initial-scale=1.0">
        <title>home-after-logout page</title>
        <link rel="stylesheet" href="/public/navbar.css">
        <link rel="stylesheet" href="/public/content.css">
        <link rel="stylesheet" href="/public/slider1.css">
        <link rel="stylesheet" href="/public/responsive.css">
        <link rel="stylesheet" href="/public/funbot.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <link href='https://unpkg.com/css.gg@2.0.0/icons/css/play-button-o.css' rel='stylesheet'>
        <link href='https://unpkg.com/css.gg@2.0.0/icons/css/play-pause.css' rel='stylesheet'>

        <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

    </head>
    <body>
        <div class="navbar">
            <nav>
                <ul >
                   
                   <li class="log" ><a href="#">LOGO</a></li>
                   <li><a href="#" class="hide">Home</a></li>
                   <li><a href="#" class="hide">topic1</a></li>
                   <li><a href="#" class="hide">topic2</a></li>
                   <li class="t1" ><a href="#" class="hide">topic3</a></li>
                   <button  id="btn" class="hide"><a href="/views/home.html">logout</a></button>
                   <li onclick="showsidebar()"><a href="#" class="hide1"><svg xmlns="http://www.w3.org/2000/svg" height="35px" viewBox="0 -960 960 960" width="40px" fill="white"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
                   
                   
                </ul>
                <ul class="sidebar">
                    <li onclick="hidesidebar()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="35px" viewBox="0 -960 960 960" width="55px" fill="black"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                    <li class="h"><a href="#">Home</a></li>
                    <li class="h"><a href="#">topic1</a></li>
                    <li class="h"><a href="#">topic2</a></li>
                    <li class="t1" class="h"><a href="#">topic3</a></li>
                    <button id="btn1"><a href="/views/home.html">logout</a> </button>
                 </ul>
                 
                 
        
               
             </nav>


             <div class="origin">
                <div class="slider"><div class="slide"><img src="/public/oo.jpg" >
                    <img src="/public/oo.jpg">
                    <img src="/public/oo.jpg">
                    <img src="/public/oo.jpg">
                    <img src="/public/oo.jpg">
</div> 
<div class="slide"><img src="/public/oo.jpg" >
    <img src="/public/oo.jpg">
    <img src="/public/oo.jpg">
    <img src="/public/oo.jpg">
    <img src="/public/oo.jpg">
</div> 
</div>



<!----<div class="emptyblock">
<i class="gg-play-button-o" id="play" ></i> 
<i class="gg-play-pause" id="pause"></i>
</div>------>



<!-- -------------------------------------content block 3 start------------------------------------------------------------------>         
<section class="section3">  
<h1 id="breif3">------------breif heading3--------</h1>
<div class="image3">

    <div class="para3-1">

        <h1>heading1</h1>
        
        <p>Knowing how to write a paragraph is incredibly important. It’s a basic aspect of writing, and it is something that everyone should know how to do. There is a specific structure that you have to follow when you’re writing a paragraph. This structure helps make it easier for the reader to understand what is going on. Through writing good paragraphs, a person can communicate a lot better through their writing.
        
        When you </p></div> 
</div> 
 </section>

<!-- -------------------------------------content block 3 end--------------------------------------------------------------------> 




<!----------------------------------------------- content block 1 start----------------------------------------------------------->
<section class="section1">
<h1 id="breif1">------------breif heading1--------</h1>

<div class="buttons">
<button class="para1-button1">1</button>
<button class="para1-button2">2</button>
<button class="para1-button3">3</button>
</div>

<div class="content1">
<div class="image1"></div> 
<div class="content1-para">
<div class="para1">

<h1>heading1</h1>

<p>Knowing .</p></div> 

<div class="para02">

<h1>para01</h1>

<p>Knowing  .</p></div> 
</div>
</div>

</section>

<!-- -------------------------------------content block 1 end-------------------------------------------------------------------->






<!-- -------------------------------------content block 2 start------------------------------------------------------------------>   
<section class="section2">  
<h1 id="breif2">------------breif heading2--------</h1>


<div class="content2">
     
     
<div class="image2"></div>  


<div class="content2-para">
<div class="para2-1">

<h1>heading1</h1>

<p>Knowing how to write a paragraph is incredibly important. It’s a basic aspect of writing, and it is something that everyone should know how to do. There is a specific structure that you have to follow when you’re writing a paragraph. This structure helps make it easier for the reader to understand what is going on. Through writing good paragraphs, a person can communicate a lot better through their writing.

When you want to write a paragraph, most of the time you should start off by coming up with an idea. After you have your idea or topic,</p></div> 

<div class="para2-2">

<h1>heading1</h1>

<p>Knowing how to write a paragraph is incredibly important. It’s a basic aspect of writing, and it is something that everyone should know how to do. There is a specific structure that you have to follow when you’re writing a paragraph. This structure helps make it easier for the reader to understand what is going on. Through writing good paragraphs, a person can communicate a lot better through their writing.

When you want to write a paragraph, most of the time you should start off by coming up with an idea. After you have your idea or topic,</p></div>
<div class="para2-3">

<h1>heading1</h1>

<p>Knowing how to write a paragraph is incredibly important. It’s a basic aspect of writing, and it is something that everyone should know how to do. There is a specific structure that you have to follow when you’re writing a paragraph. This structure helps make it easier for the reader to understand what is going on. Through writing good paragraphs, a person can communicate a lot better through their writing.

When you want to write a paragraph, most of the time you should start off by coming up with an idea. After you have your idea or topic,</p></div>
</div>


    
</div>




<button class="nextpage"> Explore</button>
</section>


<!-- -------------------------------------content block 2 end--------------------------------------------------------------------> 









<!-- -------------------------------------content block 4 start------------------------------------------------------------------>  
<section class="section4"> 

    <div class="content4"><div class="para4-1">

        <h1>heading1</h1>
        
        <p>Knowing how to write a paragraph is incredibly important. It’s a basic aspect of writing, and it is something that everyone should know how to do. There is a specific structure that you have to follow when you’re writing a paragraph. This structure helps make it easier for the reader to understand what is going on. Through writing good paragraphs, a person can communicate a lot better through their writing.
        
        When you want to write a paragraph, most of the time you should start off by coming up with an idea. After you have your idea or topic, you can start thinking about different things you can do to expand upon that idea. You should only finish the paragraph when you’ve finished covering everything you want about that idea.</p></div> 
        <div class="image4-1">></div> 
        <div class="image4-2"></div> </div>

</section>

<!-- -------------------------------------content block 4 end---------------------------------------------------------------------->




<div class="content"></div>  


             </div>


    <div class="footer"></div>        
                     
                  

     <script src="/images -js/showbar.js"></script>

     <script src="/images -js/funbot.js"></script>
      <!----<script src="slider1.js"></script> ----->




    
    </div>

    </body>

    
    

</html>
